<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuestProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <QuestProject.Properties.Settings>
            <setting name="ProjName" serializeAs="String">
                <value>Default Name</value>
            </setting>
            <setting name="Desc" serializeAs="String">
                <value>Default Description</value>
            </setting>
            <setting name="DateStart" serializeAs="String">
                <value />
            </setting>
            <setting name="DateEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultMax" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Notifyy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="combobox" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilePaths" serializeAs="String">
                <value />
            </setting>
        </QuestProject.Properties.Settings>
    </userSettings>
</configuration>